@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght400&display=swap");

.change-div {
	width: 55em;
	height: 500px;
	box-shadow: 0 0 0px 0 #d2e3f1, 0 0px 10px 0 #d2e3f1;
	background: #ffffff;
	border-radius: 12px;
	margin-left: 130px;
	margin-top: 100px;
}
.wrap-input {
	font-family: Poppins-Regular;
	font-size: 16px;
	color: #fff;
	line-height: 1.2;
	display: block;
	width: 100%;
	height: 45px;
	background: transparent;
	padding: 0 5px 0 38px;
	height: 80px;
}
.ChngMdp-box {
	width: 28em;
	padding: 10px 100px 20px 0px;
	margin-top: -40px;
	justify-content: center;
	align-items: center;
	float: right;
}
.wrong-pass-error {
	margin: -25px 0 16px 50px;
}
.wrong-pass-error-text {
	font-size: 14px;
	color: rgb(219, 0, 0);
	font-weight: 700;
}
.MuiFormControl-root {
	width: 100%;
}
.ChngMdp-text {
	padding-top: 35px;
	padding-left: 31em;
	color: #046ec0;
	padding-bottom: 73px;
	font-weight: bolder;
	font-family: "PT Sans Narrow", sans-serif;
}
.ChngMdp-h3 {
	font-size: 40px;
}
.mdp-check {
	width: 25em;
	margin-top: 0em;
	padding-left: 2em;
}
.mdp-check-title {
	font-size: 20px;
	margin: -25px 0 25px 10px;
	font-weight: 600;
	color: #444444;
}
.container-btn {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}
.submit-btn {
	margin-top: 10px;
	cursor: pointer;
	font-size: 15px;
	background: #046ec0;
	border: 1px solid #046ec0;
	color: #fff;
	padding: 10px 20px;
}
.submit-btn:hover {
	background: #046fc0b4;
	border: 2px solid #046fc080;
}
.eAyRRL > span {
	padding-top: 2px;
	padding-left: 15px;
	opacity: 0.5;
	font-size: 18px;
}
.iiUDtF > span {
	padding-top: 2px;
	padding-left: 15px;
	/* opacity: 0.5; */
	font-size: 18px;
}
.alert-success {
	color: #0f5132;
	background-color: #d1e7dd;
	border-color: #badbcc;
	width: 21em;
	margin-left: 3em;
	margin-top: -6em;
	margin-bottom: 4em;
}
.alert-danger {
	color: #842029;
	background-color: #f8d7da;
	border-color: #f5c2c7;
	width: 21em;
	margin-left: 3em;
	margin-top: -6em;
	margin-bottom: 4em;
}
.alert,
.alert-success,
.alert,
.alert-danger {
	animation: hide 0.5s linear 5s 1 forwards;
}
@keyframes hide {
	to {
		opacity: 0;
	}
}
.swal2-container.swal2-center > .swal2-popup {
	grid-column: 2;
	grid-row: 2;
	align-self: center;
	justify-self: center;
	width: 475px;
	font-size: 17px;
}
.swal2-styled.swal2-confirm {
	border: 0;
	border-radius: 0.25em;
	background: initial;
	background-color: #046ec0;
	border-color: #046ec0;
	color: #fff;
	font-size: 14px;
}
.swal2-styled:hover,
.swal2-confirm:hover {
	border: 0;
	border-radius: 0.25em;
	background: initial;
	background-color: #046ec0;
	border-color: #046ec0;
	color: #fff;
	font-size: 14px;
}
